/* Root */
:root {
  --main-bg-color: #7ed3fd;
  --main-bg-color-secondary: #709df7;
  --main-bg-color-third: #4d78ef;
}

/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  /* color: #737373; */
}
section a {
  color: #737373;
}
section a:visited {
  color: #737373;
}
.header-block__title a:visited {
  color: #252b42;
}
section a:hover {
  color: #7373737c;
}

ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  background: #fafafa;
  font-size: 16px;
  color: #252b42;
  font-weight: 500;
  font-family: Montserrat;
}
/* ---------------------------------------------------------------------------- */
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

/* ---------------------------------------------------------------------------- */
._container {
  max-width: 1046px;
  padding: 15px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
}
/* НадШапка ------------------------------------------------------------------------- */
.supheader {
  /* width: 100%; */
  display: flex;
  gap: 35px;
  margin-top: 75px;
}
.left__block,
.right__block {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.supheader h1 {
  background-image: radial-gradient(
    138.06% 1036.51% at 95.25% -2.54%,
    #7ed4fd 14.06%,
    #709df7 51.02%,
    #4d78ef 79.09%
  );
  text-align: left;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3rem;
  line-height: 1.25;
}

.suheader {
  height: calc(100vh - 75px);
}

.spjnz {
  background-color: whitesmoke;
  color: rgba(148, 163, 184, 1);
  font-weight: 500;
  font-size: 14px;
  height: 100vh;
}
.heading {
  text-align: left;
  font-weight: 700;
}

.supheader__wrapper {
  position: relative;
}

.spjnz li {
  margin: 0 5px;
  padding: 20px 20px;
}

.spjnz li span {
  color: white;
}

/* ---ШАПКА------------------------------------------------------------------------- */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 150;
  background-color: white;
}
.header__container {
  display: flex;
  min-height: 50px;
  align-items: center;
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
}

.header__slider {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  transition: all 1s;
}
#burger__menu {
  display: none;
  background: transparent;
  cursor: pointer;
  padding: 2px;
}
#burger__menu:hover {
  background: rgba(128, 128, 128, 0.1);
  border-radius: 50%;
}
#close__burger {
  margin-top: 15px;
  background: transparent;
  align-self: flex-end;
}

.menu__item {
}
.show {
  left: 0;
  background-color: white;
}
.ul {
}
.menu__item {
}
.slide__item {
}
.slide_item {
}

@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
  #close__burger {
  }
  .header__slider {
  }
  .ul {
  }
  .menu__item {
  }
  .slide__item {
  }
  .slide_item {
  }
}

@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
  .header__menu {
    margin: 0px 0px 0px 40px;
    display: none;
  }
  .show {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15vh;
  }
  .header__slider li:hover {
    font-weight: 700;
    cursor: pointer;
  }
  .ul {
  }
  .menu__item {
  }
  .slide__item {
  }
  .slide_item {
  }
  #burger__menu {
    display: flex;
  }
}

@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
  .span-wrap {
  }
  .header__slider {
  }
  .ul {
  }
  .menu__item {
  }
  .slide__item {
  }
  .slide_item {
  }
}

.menu {
  padding: 5px 0;
}
.menu__list {
  flex-wrap: wrap;
  display: flex;
}
.menu__list-slide {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}
.menu__list-slide li {
  text-align: center;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}
/* ---PAGE------------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}
.page__main-block {
  position: relative;
  z-index: 1;
}
.page__services {
  position: relative;
  z-index: 100;
  margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {
}
.page__clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contact {
}
.heading {
}
/* ---HEADER-BLOCK------------------------------------------------------------------------- */
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  line-height: 142%;
  font-weight: 700;
  font-size: 40px;
  padding-top: 25px;
  margin-bottom: 50px;
  color: #495057;
}

.header-block__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
  line-height: 142%;
  color: #737373;
}
.header-block__sub-title_m {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}
/* ---ПОДВАЛ------------------------------------------------------------------------- */
.footer {
}
/* ---MAIN-BLOCK------------------------------------------------------------------------- */
.main-block {
  position: relative;
}
.main-block__container {
}
.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 170px 0px 191px 0px;
    max-width: 100%;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}
.main-block__body > *:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.main-block__title {
  /* background: #ffffff; */
  padding: 25px 0px 25px 0px;
  height: 100%;
  box-shadow: 0.15px 0.15px 5px #000000a2;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 2.5em;
  line-height: 1.4;
  border: 1px solid gray;
  border-radius: 10px;
}
@media (max-width: 479px) {
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #585757;
  }
}
.main-block__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  border-radius: 37px;
  display: flex;
  min-height: 48px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  padding: 5px 36px;
  margin: 10px 0;
  transition: all 0.3s ease 0s;
}

@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
.main-block__button_orange {
  margin: 15px auto 15px;
  background: #ff5e1e;
  color: #000000;
}
.main-block__button_orange:hover {
  background-color: #fff;
  color: #ff5e1e;
}
.main-block__button_border {
  color: #000000;
  border: 1px solid #000000;
}
.main-block__button_border:hover {
  background-color: #7373737c;
  color: #fff;
}
.main-block__image {
  position: absolute;
  width: 60vw;
  height: 50%;
  top: 100px;
  right: 30px;
  z-index: 50;
  opacity: 0.8;
  border-radius: 100px;
}
.border__slider {
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

/* ----------------------------------- */
.services {
}
.services__container {
}
.services__body:visited {
  color: #737373;
}
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px) {
  .services__column {
    padding: 0px 10px;
    margin: 10px 0;
  }
}

@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  /* .services__column:not(:last-child) {
    margin: 0px 0px 15px 0px;
  } */
  /* .services__column:last-child {
    flex: 1 1 100%;
  } */
}
.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 10px;
}

@media (max-width: 479px) {
  .services__item {
    padding: 25px;
    flex-wrap: wrap;
  }
}
.item-service {
}
.item-service:hover {
  transition: all 0.35s;
  background-color: #4a556d;
  color: white;
}

.item-service:hover .item-service__text {
  transition: all 0.35s;
  color: white;
}
.item-service_green .item-service__title {
  color: #fff;
}
.item-service_green .item-service__text {
  color: #fff;
}

/* .item-service > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
} */
.item-service__icon img {
  width: 100%;
  height: 175px;
}
.item-service__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  /* font-size: 22px; */
  line-height: 133%;
}
.item-service__text {
  color: #737373;
  line-height: 142%;
  font-weight: 500;
}
/* --------------------------------------------- */
.advantages {
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 40px 0;
  }
}
.advantages__container {
}
.advantages__header {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}
.advantages__body {
  display: flex;
  flex-direction: column;

  /* border: 1px solid black; */
  /* flex-wrap: wrap; */
}
.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 33%;
}

@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages__item {
  background: #ffffff;
  padding: 40px 0px 30px 0px;
  height: 100%;
  box-shadow: 0.5px 0.5px 23px #0000001f;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
  border-radius: 15px;
}
.advantages__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 50px;
}
.advantages__value {
  font-size: 22px;

  line-height: 142%;
}
.advantages__text {
  letter-spacing: 0.1px;
  padding-top: 15px;
  color: #252b42;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}
.advantages__text:hover {
  color: #ff7b47;
}

/* -------------------------------- */
.practice {
  padding: 50px 0px 80px 0px;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}
.practice__container {
}
.practice__header {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}

.practice__body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 1 1 20%;
}

@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.practice__item {
}
.item-practice {
  background-color: #fff;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-practice__link {
  color: inherit;
  display: inline-block;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__title {
  letter-spacing: 0.1px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.item-practice__text {
  color: #737373;
  line-height: 142%;
}
.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}
/* ------------------------------------- */
.whoweare {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
}
.whoweare__container {
}
.whoweare__header {
  margin: 0px 0px 100px 0px;
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
.whoweare__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.whoweare__text {
  color: #737373;
  line-height: 142%;
}
.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .whoweare__title {
    font-size: 24px;
  }
  .whoweare__content {
    padding: 0px 0px 0px 0px;
  }
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
/* ----------------------------------- */
.clients {
  padding: 50px 0;
}
@media (max-width: 767px) {
  .clients {
    padding: 30px 0;
  }
}
.clients__container {
}
.front,
.back {
  position: relative;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.clients__items > img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__item {
  padding: 8px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}
.clients__items1 {
  display: flex;
  align-items: center;
  /* width: 1080px; */
  flex-wrap: wrap;
  justify-content: center;
}
.clients__item1 {
  padding: 8px 15px;
  flex: 0 2 16.6667%;
  text-align: center;
  min-width: 140px;
  /* margin-left: 50px; */
  gap: 35px;
}
.clients__item1 img {
  max-width: 100%;
}
#Administrator {
  margin: 0;
  padding: 0;
}
/* ----------------------------- */
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 77px;
  left: 0;
  background: #252b42;
}
.subscribe__container {
}
.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px;
  align-items: center;
  background: #17213c;
  border-radius: 2px;
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0px 30px;
  }
}
.subscribe__title {
  color: #fff;
  font-size: 133%;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.1px;
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 15px;
  }
}

@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
  .subscribe__body {
    display: flex;
    justify-content: space-between;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  background: #f9f9f9;
  color: #737373;
  padding: 0px 20px;
  border: 1px solid #e6e6e6;
  border-right: 0;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}
.subscribe__input:focus {
  color: #000;
}

.subscribe__button {
  background: #ff7b47;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  padding: 0px 22px;
}
.subscribe__button:hover {
  background: #ca6137;
}
@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
  .subscribe__input {
    padding: 0px 15px;
  }
}

/* ----------------------------------- */
.getintouch {
  padding: 0px 0px 50px 0px;
}
.getintouch__container {
}
.getintouch__header {
  margin: 0px 0px 80px 0px;
}
.getintouch__items {
  margin: 0px -15px;
}

.getintouch__item {
  flex: 0 1 33.333%;
}
.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 50px 15px;
}
.item-getintouch_active {
  background: #252b42;
  padding: 80px 15px;
  color: #fff;
}
.item-getintouch_active .item-getintouch__button {
  border: 1px solid #fff;
  color: #fff;
}

.item-getintouch > *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-getintouch__button {
  border: 1px solid #ff7b47;
  min-height: 44px;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  color: #ff7b47;
  line-height: 142%;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}
.item-getintouch__button:hover {
  border: 1px solid #ff7b47;
  background-color: #ff7b47;
  color: #fff;
}

@media (min-width: 992px) {
  .getintouch__items {
    margin: 0;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px;
  }
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
  .item-getintouch_active {
    padding: 50px 15px;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}
/* ------------------------------------------ */
.contact {
  background-color: #fff;
  padding: 42px 0;
}
.contact__container {
}

.contact__content {
  padding: 0px 0px 20px 0px;
}

@media (min-width: 767px) {
  .contact__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact__content {
    padding: 0px 20px 0px 0px;
  }
}

.contact__title {
  font-weight: 700;
  letter-spacing: 0.1px;
  font-size: 24px;
  line-height: 133%;
}
.contact__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.contact__text {
  color: #737373;
  line-height: 142%;
}
.contact__button {
  display: flex;
  background-color: #ff7b47;
  border-radius: 5px;
  min-height: 58px;
  padding: 5px 40px;
  transition: background-color 0.3s ease 0s;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.contact__button:hover {
  background-color: #aa5330;
}

/* --------------------------------------------------- */

.footer {
}
.footer__top {
  background: #17213c;
  padding: 35px 0;
}
.footer__main {
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px -15px;
}
.footer__column {
  padding: 15px 15px;
  flex: 0 1 16.6667%;
}
.footer__column:last-child {
  flex: 0 1 33.334%;
}

@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 25%;
  }
  .footer__column:last-child {
    flex: 1 1 100%;
  }
}
@media (max-width: 992px) {
  .footer__column {
    flex: 0 1 50%;
  }
}

.footer__label {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.menu-footer__link {
  color: #fff;
  display: inline-block;
  line-height: 171%;
  letter-spacing: 0.2px;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.footer__contacts {
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__item {
  padding: 0px 0px 0px 34px;
  line-height: 142%;
  display: flex;
  align-items: center;
  color: #ffffff;
  min-height: 30px;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}
.contacts-footer__item:not(:last-child) {
  margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy {
  color: #737373;
  line-height: 171%;
}
.footer__social {
}

.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__copy {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }
}

.span-wrap {
  background-color: #d4d4d48a;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.13);
}

/*////////////////////------------FORM-------/////////////////////////*/
.form {
  display: flex;
  justify-content: center;
}

.wrapper {
  position: relative;
  display: flex;
}
/*///////////////////////------Legislatia-------///////////////////*/
.Legislatia {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.Legislatia__container {
}
.Legislatia__header {
  margin: 0px 0px 100px 0px;
}
.Legislatia__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
}

.Legislatia__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Legislatia__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  text-align: center;
}
.Legislatia__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.Legislatia__text {
  color: #737373;
  line-height: 142%;
}
.Legislatia__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.Legislatia__items {
  margin: auto;
}
.Legislatia__item {
}
.Legislatia__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-Legislatia {
  display: flex;
}
.item-Legislatia__icon {
  flex: 0 0 32px;
}
.item-Legislatia__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-Legislatia__title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.item-Legislatia__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-Legislatia__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1080px) {
  .Legislatia__content {
    padding: 0px 0px 0px 50px;
  }
}
@media (max-width: 950px) {
  .Legislatia {
    padding: 50px 0px 50px 0px;
  }
  .Legislatia__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .Legislatia__title {
    font-size: 24px;
  }
  .Legislatia__content {
    padding: 0px 0px 0px 0px;
  }
  .Legislatia__video {
    padding: 0px 0px 56.25% 0px;
  }
  .Legislatia__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
  .Legislatia__header {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .Legislatia {
    padding: 20px 0px 50px 0px;
  }
  .Legislatia__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .Legislatia__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
  .Legislatia__items {
  }
}
/*///////////////////////------Activitate-------///////////////////*/
/* .activitate {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
} */
.activitate {
  background: #ffffff;
  padding: 80px 0px 130px 0px;
  height: 80%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.activitate__container {
}
.activitate__header {
  margin: 0px 0px 100px 0px;
}
.activitate__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activitate__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activitate__title {
  font-weight: 800;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
  text-align: center;
}
.activitate__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.activitate__text {
  color: #737373;
  line-height: 142%;
}
.activitate__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
.activitate__items {
}
.activitate__item {
}
.activitate__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-activitate {
  display: flex;
}
.item-activitate__icon {
  flex: 0 0 32px;
}
.item-activitate__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}
.item-activitate__title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-activitate__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}
.item-activitate__text {
  color: #737373;
  white-space: nowrap;
  line-height: 142%;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1080px) {
  .activitate__content {
    /* padding: 0px 0px 0px 50px; */
  }
}
@media (max-width: 950px) {
  .activitate {
    padding: 50px 0px 50px 0px;
  }
  .activitate__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  .activitate__title {
    font-size: 24px;
  }

  .activitate__header {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 767px) {
  .activitate {
    padding: 20px 0px 50px 0px;
  }
  .activitate__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .activitate__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}
.documents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  z-index: 2;
}
.form_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.form_style input {
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  padding: 6px 12px;
  margin: 10px 0;
}
.form_style form {
  min-width: 340px;
}
.file-selector {
  width: 200px;
}
.warning-buy {
  width: 200px;
}

.control-label {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 3px solid #ccc !important;
  border-radius: 0px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
/* ----------------------------------------------------- */
#submit {
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: #252b42;
  height: 100%;
  box-shadow: 0px 13px 19px #252b4255;
  background-color: #fff;
  text-align: center;
  font-weight: 700;
}
#submit:hover {
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: #252b42;
  height: 100%;
  box-shadow: 0px 13px 19px #252b42;
  background-color: #fff;
  text-align: center;
  /* font-weight: 700; */
  /* font-size: xx-large; */
  transition: 0.5s;
}

/* ------------------------.one---------------------------------- */

.table-card {
  display: none;
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.3;
  }
  .main-block__title {
    font-size: 42px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: black;
  }
  .span-wrap {
    background-color: transparent;
    border: none;
  }
  .table-card {
    display: block;
  }
}
.clearout {
  height: 20px;
  clear: both;
}

.nbs-nineslider-container {
  min-height: 45vh;
  max-height: 45vh;
  min-width: 30vw;
  max-width: 30vw;
}

.nbs-nineslider-ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
}

.nbs-nineslider-ul > li {
  position: relative;
  z-index: 0;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.nbs-nineslider-ul > li img {
  /* width: 80%; */
  /* height: 80%; */
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 2%;
}
/* ------------------------------------ */
.button_primary {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(125 211 252 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  transition: 0.5s;
}
.button_primary:hover {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-image: radial-gradient(
    245.05% 250% at 50% 0,
    #176abd 0,
    #1475a5 40%,
    #4c80c87d 1008.16%
  );
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 16px;
  --tw-text-opacity: 1;
  box-shadow: 0px 7px 9px #252b42;
}
.button_secondary {
  margin-left: 1.5rem;
  border-radius: 9999px;
  border-width: 1px;
  border: 1px solid;
  border-color: rgba(9, 8, 8, 0.377);
  background-color: rgb(51 65 85/0.4);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 600;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition: 0.5s;
}
.button_secondary:hover {
  border-radius: 9999px;
  border-color: rgba(9, 8, 8, 0.377);
  background-image: radial-gradient(
    245.05% 250% at 50% 0,
    #626e7a 0,
    #3d5865 40%,
    #4c80c87d 1008.16%
  );
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 7px 9px #252b42;
}

.button_primary:visited {
}

@media (max-width: 767px) {
  .supheader {
    flex-direction: column;
  }
  .supheader h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px;
  }
  .left__block {
    gap: 25px;
  }
  .nbs-nineslider-container {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  .left__block,
  .right__block {
    width: 100%;
    align-items: center;
  }
  .nbs-nineslider-container img {
    max-width: 100%;
    min-width: 100%;
    min-height: 35vh;
    max-height: 80%;
  }

  .button_secondary {
    margin: 0;
    text-align: center;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
